body {
  padding: 0;
  text-align: center;
  background-color: #1d253b;
  background-image: url(../images/main-background.png);
}

#game-intro {
  padding: 20px 0;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0;
  justify-content: center;
}

#stats {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 30px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}
#game-screen::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-image: url(../images/background.png);
  background-repeat: repeat-y;
  background-size: cover;
  animation: spaceScroll 10s linear infinite;
}

@keyframes spaceScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

#game-over {
  display: none;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

#game-over img {
  width: 295px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#game-over h1 {
  font-size: 2.5rem;
}

#game-intro p {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.logo-img {
  width: 295px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.arrows-img {
  width: 250px;
}

body button {
  font-size: 40px;
  background-color: #266e7b;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #557793;
}

.spin {
  -webkit-animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
